# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
# Importing the proper library
import datetime

# Creating a "datetime" object for the current date and time
now = datetime.datetime.now()

# The first part of the string
print ("Current date and time: ")

# The actual date part, which uses .strftime to convert the date into a string and uses the %Y, %m, 
# etc which orders the information and casts the numbers as zero padded integers in string format
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2023-08-03 22:48:29

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [17]:
# Importing the proper library
import math

# Defining the function
def circlefunc():
    # Taking the user's input (not including specifiers like r < 0, etc)
    r = input('What is your radius? ')
    # Casting input as a float so it can be multiplied with pi imported from Math
    r = float(r)
    print(math.pi * (r ** 2))
    
# Calling the function
circlefunc()

What is your radius? 3
28.274333882308138

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 

* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [5]:
# Define the function 
def any_duplicates(numbers_list):
    
    # Convert the list to a set to remove duplicates
    unique_set = set(numbers_list)
    
    # Compare the length of any_duplicates to _unique set to see if they are equal
    return len(unique_set) == len(numbers_list)

In [7]:
# Example usage without duplicates:
numbers = [1, 2, 3, 4, 5]
print(any_duplicates(numbers)) 

# Example usage with duplicates:
numbers_with_duplicates = [1, 2, 3, 4, 5, 1]
print(any_duplicates(numbers_with_duplicates))

True
False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [84]:
# Open the .txt and place it in a variable
txt = open('/Users/brendancostello/summer-prep-hws/2023-CTP/lil-wayne.txt','r').read()

# Use the variable to capitalize the entire .txt file
txt = txt.upper()

# Establish an empty list that we can add to using a loop
chars={}

# Establish the loop
for word in txt:
    # For every letter, perform an action
    for letter in word:
        # That action is testing whether that letter has already been found
        if letter in chars:
            # And adding to the tally
            chars[letter] += 1
        # Or starts the tally off at 1
        else:
            chars[letter] = 1
            
# Print the final tally for all characters
print(chars)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [85]:
# Had to look this one up...don't fully understand it if I'm being honest
print(dict(sorted(counter.items(),key=lambda x:x[1],reverse=True)))

{' ': 522, 'E': 274, 'A': 211, 'I': 185, 'T': 180, 'N': 165, 'R': 152, 'S': 152, 'O': 145, 'L': 126, 'H': 122, 'M': 77, 'D': 74, 'U': 66, 'W': 63, 'C': 60, 'B': 59, 'G': 53, 'Y': 44, 'F': 44, 'P': 39, ',': 37, '0': 36, '1': 28, '.': 26, '2': 24, 'V': 20, '9': 16, '[': 14, ']': 14, 'K': 13, '(': 12, ')': 12, 'J': 8, '7': 7, '8': 6, '\n': 6, '-': 6, 'X': 5, '5': 5, '4': 4, '6': 3, '3': 2, ';': 1, '!': 1, '—': 1}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [21]:
# Establish the input list
input_list = [1, 1, 2, 3, 5, 8, 13, 21]

# Remove the 4th number
removed_number = input_list.pop(3)

# Create a variable for the final number
last_number = input_list[-1]
result = last_number * removed_number

# Append the variable to the list
input_list.append(result)

# Print the output
print(input_list)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [20]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

# Establish a variable for the new list
new_list = []

# Run through the original list
for i in original_list:
    # Apply the modulo operator to see if there is a remainder after dividing by 3
    if i % 3 == 0:
        # Append each number that does not have a remainder to the new list variable
        new_list.append(i)
        
# Print the new list
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [27]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

# Reverse the list
original_list.reverse()

# Print the list
print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [33]:
original_list = [1, 2, 3, 4, 5, 6, 7]

# Establish a new list with the squared numbers
new_list = [i ** 2 for i in original_list]
  
# Print the list
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [35]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# Reverse the second list
list2.reverse()

# Create a loop that runs through each list in the new order
for i in range(len(list1)):
    print(list1[i], list2[i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [65]:
# Establish the list
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

# Create a new list that filters out the empty strings
new_list = list(filter(None, list_of_strings))
 
# Print the newly filtered list
print(new_list)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [64]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

if 999 in sample_dict.values():
    print(True)
else:
    print(False)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [54]:
# Import Pandas to read the .csv
import pandas as pd

# Establish a variable to hold the opened .csv
df = pd.read_csv('/Users/brendancostello/summer-prep-hws/2023-CTP/titanic.csv')

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [62]:
# Import Numpy to do the mean calculation
import numpy as np

# Establish the age column into a variable list
ages = df['age']

# Use the variable to establish a new variable that holds the mean of the list
m_age = np.mean(ages)

print(m_age)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [61]:
# Sort the age values
ages.sort_values()

# Print the first and last in the sorted list
print(ages.min(), ages.max())

0.42 80.0

## How many people embarked from station 'S'?

In [66]:
# Print the sum 
print(sum(df["embarked"]=="S"))

644